
<div class="bg-aqua rounded">
    <div class="modal-body px-3 py-2">
        <a class="px-5 text-center text-decoration-none d-inline-block border-0 outline-0" routerLink="/product" (click)="modalRef.close()">
            <img class="rounded-circle border-2 border-primary border"
            loading="lazy"
                src="../../assets/images/790-7903425_innovators-icon-new-product-development-is-important-hd.png"
                alt="product" width="60" height="60">
            <p class="text-blue">Product</p>
        </a>
    </div>
</div>
