.container-prod{
    width: 90%;
    margin: 0 auto;
}
.border-gray{
    border-color: rgb(161, 161, 161);
}
.text-gray{
    color:rgb(99, 99, 99);
}
.example-chip-list {
    width: 100%;
}
.bg-aqua{
    background-color: #47EAEE;
}
.submit{
    border: none;
}